In [22]:
# Function To Read Csv Data Into A Data Frame And Returns The Data Frame Object

filepath = 'datafiles/income.csv'

import pandas as pd

def readcsv(filepath):
    
    return pd.read_csv(filepath)

readcsv(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [16]:
# Reading csv file Data
import pandas as pd
filepath = 'datafiles/income.csv'
incomedf = pd.read_csv(filepath)
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 62993, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

Day Objectives:
----------------------

# Practice on Income Dataset.?

# Define functions for the following data points.?

## 1.Average Income of all states from 2005 to 2013.?

## 2. State with highest average income in the last three years.?

## 3.State with lowest average income from 2007 to 2010(inclusive).?

## 4.Print the list of all states in the same line with average income less than California.?

## 5.Print the names of states based on descending order of income in the year 2009.?

## 6.State with the lowest recorded income from 2005 to 2013.?

In [9]:
# Average income of a particular state AriZola

sum=0
for i in range(2,11):
    sum += incomedf.values[2][i]
    
sum/len(incomedf.values[2][2:])

47214.77777777778

In [10]:
# average income of all the states in 2012.
sum
for row in incomedf.values:
    sum+=row[-2]
sum/len(incomedf.values[0])

61375.181818181816

In [27]:
# Reading csv file Data
import pandas as pd
filepath = 'datafiles/income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [35]:
def averageofallstate(df):
    sum=0
    count=0
    for row in range(0,5):
        for column in range(2,11):
            sum+=incomedf.values[row][column]
            count+=1
        avg =(sum/count)
        print(incomedf.values[row][1],":",avg,"\n")
    return
averageofallstate(incomedf)

Alabama : 41126.444444444445

Alaska : 50616.5

Arizona : 50066.96296296296

Arkansas : 47257.444444444445

California : 48876.044444444444

In [36]:
def highestavgincome(df):
    sum=0
    count=0
    li=[]
    for row in range(0,5):
        for column in range(8,11):
            sum+=incomedf.values[row][column]
            count+=1
        avg =(sum/count)
        li.append(avg)
        print(incomedf.values[row][1],":",avg,"\n")
    return max(li)
highestavgincome(incomedf)

Alabama : 42478.333333333336

Alaska : 51608.5

Arizona : 50657.555555555555

Arkansas : 48013.083333333336

California : 49604.8

51608.5

# Dictionaries

In [3]:
d={"name":"gopal","age":"25","list":[1,2,3,4,5]}
d

{'name': 'gopal', 'age': '25', 'list': [1, 2, 3, 4, 5]}

In [4]:
print(d)

{'name': 'gopal', 'age': '25', 'list': [1, 2, 3, 4, 5]}

In [7]:
d["design"]="trainer"
print(d)

{'name': 'gopal', 'age': '25', 'list': [1, 2, 3, 4, 5], 'design': 'trainer'}

In [8]:
d["name"]

'gopal'

In [9]:
d["age"]

'25'

In [10]:
d["name"]="mani"
d

{'name': 'mani', 'age': '25', 'list': [1, 2, 3, 4, 5], 'design': 'trainer'}

In [11]:
d.pop('name')
d

{'age': '25', 'list': [1, 2, 3, 4, 5], 'design': 'trainer'}

In [12]:
d

{'age': '25', 'list': [1, 2, 3, 4, 5], 'design': 'trainer'}

In [13]:
# add new elements

new={"address":"chpl"}
print(new)

{'address': 'chpl'}

In [15]:
d.update(new)

In [16]:
d

{'age': '25', 'list': [1, 2, 3, 4, 5], 'design': 'trainer', 'address': 'chpl'}

In [17]:
d.clear()

In [18]:
d

{}

# lists

In [ ]:
list def:

In [19]:
a=[1,3,4,6,8]
a

[1, 3, 4, 6, 8]

In [ ]:
a=[1,3,4,6,8]
b=[9,0]

In [41]:
a=[1,3,4,6,8]
b=[9,0]
c=a+b
c

[1, 3, 4, 6, 8, 9, 0]

In [44]:
c[0:1]

[1]

In [45]:
c[::-1]

[0, 9, 8, 6, 4, 3, 1]

In [42]:
len(c)

7

In [22]:
a.pop()

8

In [23]:
a

[1, 3, 4, 6]

In [24]:
a.sort()
a

[1, 3, 4, 6]

In [25]:
a.reverse()
a

[6, 4, 3, 1]

In [26]:
a.clear()
a

[]

In [27]:
a=[1, 3, 4, 6]
a

[1, 3, 4, 6]

In [33]:
a=[1, 3, 4, 6]
a

[1, 3, 4, 6]

In [34]:
# delete of list included items

del a[:]

In [35]:
a

[]

In [52]:
import random
list  = [111,222,333,444,555]
print(random.choice(list))
print(random.choice(list))

444
222

In [64]:
from  random import choice
def randomlist():
    li=[111,222,333,444,555]
    print(choice(li))
randomlist()

222

In [ ]:
from  random import choice
def randomlist():
    li=[111,222,333,444,555]
    print(sorted(li))
randomlist()

In [ ]:
from  random import choice
def randomlist():
    li=[111,222,333,444,555]
    print(li[::-1])
randomlist()

In [69]:
string=input()
c=0
for i in string:
    if i.isdigit():
        c+=1
print(len(string)-c)

gopal123
5

In [ ]:
string=input()
c=0
for i in string:
    if i.isdigit():
        c+=1
print(c)

In [ ]:
li=[1,5,6,3,4,8]
li2=[]
for ch in li:
    
    li2.append(str(ch))
    
print(li2)