In [1]:
print("hello world")

hello world

In [2]:
# second program
x="gopal"
print("hai"+x)

haigopal

In [7]:
x=9
x="gopal"
print(x)

gopal

In [6]:
x=6
y="gopal"
print(x)
print(y)

6
gopal

In [8]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [9]:
x = 5
y = 10
print(x + y)

15

In [11]:
x = 5
y = "John"
print(y)

John

In [13]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [16]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [17]:
a = "Hello, World!"
print(a[1])

e

In [18]:
a="gopal"
print(a[0])

g

In [19]:
a="gopal"
print(a[2])

p

In [20]:
b = "Hello, World!"
print(b[2:5])

llo

In [21]:
a="gopalmani,mani"
print(a[1:2])

o

In [23]:
a = "gopalvamanapalli"
print(len(a))

16

In [25]:
a="gopal,mani,siva,mastan"
print(a.strip())

gopal,mani,siva,mastan

In [26]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [27]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [28]:
g="VAMANAPALLI MANIKANTHA ,GOPAL"
print(g.lower())

vamanapalli manikantha ,gopal

In [30]:
g="VAMANAPALLI MANIKANTHA ,GOPAL"
print(g.upper())

VAMANAPALLI MANIKANTHA ,GOPAL

In [32]:
a = "Hello, World!"
print(a.replace("H", "K"))

Kello, World!

In [33]:
g="VAMANAPALLI MANIKANTHA ,GOPAL"
print(g.replace("V","M"))

MAMANAPALLI MANIKANTHA ,GOPAL

In [34]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [35]:
print("Enter your name:")
x = input()
print("Hello, ", x)

Enter your name:
GOPAL
Hello,  GOPAL

In [36]:
print("ENTER AGE ")
a=input()
print("my age is"+a)

ENTER AGE
10
my age is10

In [38]:
# operators
print(10*5)

50

In [46]:
#addition of two variables
a = int(input("enter first number: "))
b = int(input("enter second number: "))
 
sum = a + b
 
print("sum:",sum)

enter first number: 40
enter second number: 40
sum: 80

In [47]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [1]:
s1 = "Python"

s1[0] # Accessing the first character in a string 
s1[1] # Accessing the second character in a string
s1[len(s1)-1] # Accessing the last character in a string

s1[-1] # Another way of accesing the last character

s1[-2] # Accessing the penultimate character of a string

s1[0:2] # Accessing the first two characters in a string

s1[-2:] # Accessing the last two charcters in a string

s1[4:] # Accessing all characters 5th character to end of string


s1[1:-1]# Accessing all characters except first and last character

s1[len(s1)//2]# Accessing the middle character in an odd length string

s1[-1::-1] # Reverse of a string

s1[-1:-3:-1]#Accessing last two characters in reverse order

s1[len(s1)//2:len(s1)//2-2:-1]# Reverse the middle two characters in an even length string

# Accessing alternate characters in a string
# "Python" -> "Pto"
s1[::2]

# Accessing alternate characters of a string in reverse order
# "Python" -> "nhy"
s1[::-2]

'nhy'

Functions

In [2]:
#Function to reverse a string
def reverseString(s):
    return s[::-1]

reverseString("Python")

'nohtyP'

In [3]:
#Function to check if a string is a Palindrome
def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False
    
palindrome("abc")

False

In [4]:
# Function to identify the greatest of 4 numbers

def greatest4(n1, n2, n3, n4):
    if n1 > n2 and n1 > n3 and n1 > n4:
        return n1
    elif n2 > n3 and n2 > n4:
        return n2
    elif n3 > n4:
        return n3
    return n4

greatest4(1,234, 123, 34)

234

Iteration
for
while

In [5]:
#Function to check if a given year is a leap year
def isLeapYear(year):
    if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
        return True
    return False

isLeapYear(2020)

True

In [6]:
# Function to count the number of digits in a given number
def countDigits(n):
    return len(str(n))

countDigits(134546)

6

In [7]:
# Function to print n natural numbers

def printNNaturalNumbers(n):
    for counter in range(1, n+1):
        print(counter, end=" ")
    print()
    return
printNNaturalNumbers(30)
printNNaturalNumbers(10)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10

In [8]:
# Function to print N Natural numbers using a while loop

def nNaturalNumbers(n):
    counter = 1
    while counter <= n:
        print(counter, end = " ")
        counter = counter + 1
    return


nNaturalNumbers(9)

1 2 3 4 5 6 7 8 9

In [15]:

# Function to find the average of cubes of all even numbers
# in a given range(lb, ub) inclusive

def avgcub(lb,ub):
    s = 0
    c = 0
    for i in range(lb,ub+1):
        if i%2==0:
            s +=i**3
            c +=1
    return s/c
avgcub(200,300)

16275000.0

In [20]:
# Function to check if a given number is Prime

num = 407

# take input from the user
# num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

In [30]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 9

# uncomment to take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 9 is 362880

In [32]:
# Function to print all numbers divisible by 6
# and not a factor of 100 in a given range(lb, ub) inclusive
def div(x,y):
    for z in range(x,y+1):
        if (z % 6 == 0 and 100 % z != 0):
            print(z,end=" ")
    return
    
    
div(100,200)

102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198

In [34]:
def printnatural(n):
    for count in range(1,n+1):
        print(count,end=" ")
    print()
    return
printnatural(30)
printnatural(10)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10

In [33]:
#function to print alternative numbers in given range
def alter(s,e):
    for value in range(s,e+2,2):
        print(value,end=" ")
    return
alter(500,525)

500 502 504 506 508 510 512 514 516 518 520 522 524 526

In [35]:
# function to print reverse of given range inclusive
def reverserange(s,e):
    for value in range(e,s,-1):
        print(value,end=" ")
    return
reverserange(1,10)

10 9 8 7 6 5 4 3 2

In [36]:
# function to print reverse of given range exclusve
def reverserange(s,e):
    for value in range(e,s-1,-1):
        print(value,end=" ")
    return
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

In [39]:
# print odd numbers in reverse order
def oddrev(s,e):
    for value in range(e,s-1,-1):
        if value % 2 ==0:
            print(value,end=" ")
    return
oddrev(123,130)

130 128 126 124

In [ ]:
# function to caluclate the sum of numbers in a range
def sumrange(s,e):
    
    sum=0
    
    for i in range(s,e+1):
        
        sum = sum + i
        
    return sum

sumrange(100,200)

200*201/2 - (100*101/2)

In [56]:
# function to calucalte the average of given range
# (1,5)->3

def avgrange(s,e):
    sum = 0
    count = 0
    for i in range(s,e+1):
        sum = sum + i # sum caluclations
        count = count + 1 # counting number of values
    return sum/count
avgrange(1000,5000)

3000.0

In [64]:
# function to generate all leap years in a given period of time
#2000 -2020->2000 2004 2008 2012 2016 2018

def isleap(year):
    if year % 400 ==0 or (year % 100 !=0 and year%4==0):
        return True
    return False

def generateleap(s,e):
    for year in range(s,e+1):
        if isleap(year):
            print(year,end=" ")
    return
generateleap(1900,2020)

1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020

In [7]:
# Function to generate all Perfect numbers in a given range
def perfect(n):
    t=0
    for i in range(1,n):
        if n%i==0:
            t=t+i
    print(t)
    if t == n:
        print(n,"perfect")
    return
perfect(6)

6
6 perfect

In [59]:
# caluclate number of days in agiven time period using leap
# numberofhours(11,1975,3,1999)->
# numberofhours(5,2019,2019) ->61*24

In [ ]:
# function to caluclate number of hours for a given time period using
#(11,1975,03,1999)