In [1]:
print("hell")

hell

In [2]:
# Prime Factors
## Special numbers

def checkPrime(sn):
    flag = 0
    if(sn==2):
        return True
    else:
        for i in range(2,sn):
            if(sn%i==0):
                flag = 1
                break
    if(flag == 1):
        return False
    else:
        return True
    

def primeFactorsList(num):
    ls=[]
    for i in range(2,num+1):
        if(num%i == 0):
            if(checkPrime(i)):
                ls.append(i)
    # print(ls)
    return len(ls)
def isSpecialNumber(n,p):
    if(primeFactorsList(n)>=p):
        return True
    else:
        return False
n = int(input())
p = int(input())
ls = []
for i in range(1,n+1):
    ls.append(int(input()))
for j in range(0,len(ls)):
    if(isSpecialNumber(ls[j],p)):
        print("YES")
    else:
        print("NO")

2
2
6
30
YES
YES

In [21]:
# special number

#function to determine if a number is secial number or not

#function to check if number is prime

def isprime(n):
    flag = 1
    if n == 2:
        return True
    for i in range(2,n//2+1):
        if n % i == 0:
            flag == 0
            return False
    if flag == 1:
        return True
isprime(13)
    
#function to determine number of prime factors

True

In [ ]:
### play with numbers

n = input().split()
n[0],n[1] = int(n[0]),int(n[1])
a = input().split()
sum = []
# cumulative sum
for i in range(0,n[0]):
    if i == 0:
        sum.append(int(a[i]))
    else:
        sum.append(int(sum[i-1]) +int(a[i]))
print(sum[n[0] -1])

In [2]:
### play with numbers

n = input().split()
n[0],n[1] = int(n[0]),int(n[1])
a = input().split()
sum = []
# cumulative sum
for i in range(0,n[0]):
    if i == 0:
        sum.append(int(a[i]))
    else:
        sum.append(int(sum[i-1]) +int(a[i]))
print(sum[n[0] -1])

1 100
100 200
100

# Tuples In Python

Difference between lists and tuples

tl = ()

list = []

Difference between lists and tuples.

lists are mutable -can be changed /modified.

tuples are immutable -cannot be changed once initialized.


.tuples are generally used to access data only.

.lists are used to access ,modify,add,delete data only.

.all slicing work

In [3]:
# create the touple
tl =("gopal","chalapathi","siva","mastan")
tl

('gopal', 'chalapathi', 'siva', 'mastan')

In [4]:
tl =(1,2,3,4,5,6)
tl

(1, 2, 3, 4, 5, 6)

In [5]:
tl =(1,2,3,4,5,6)
tl[3] #accessing the fourth element

4

In [11]:
 #accessing all elements from middle to last
t1 =(1,2,3,4,5,6)
t1[3]
t1[len(t1)//2:]

(4, 5, 6)

In [12]:
tl =(1,2,3,4,5,6)
tl[3] #accessing type of t1
type(t1)

tuple

## Dictionaries In Python

it works on the concept of set.

unique data.

keys,values.

key is the unique identifier and value.

value is data that can be accessed with a key.

In [13]:
# create the dictionary
dl = {"a1":"gopal","a2":"chalapathi"}
dl

{'a1': 'gopal', 'a2': 'chalapathi'}

In [14]:
#accessing the value with key "a2"
dl = {"a1":"gopal","a2":"chalapathi"}
dl["a2"]

'chalapathi'

In [17]:
  #returns list of all keys
dl = {"a1":"gopal","a2":"chalapathi"}
dl.keys()

dict_keys(['a1', 'a2'])

In [18]:
  #returns list of all values
dl = {"a1":"gopal","a2":"chalapathi"}
dl.values()

dict_values(['gopal', 'chalapathi'])

In [19]:
#returns list of all keys and values
dl = {"a1":"gopal","a2":"chalapathi"}
dl.items()

dict_items([('a1', 'gopal'), ('a2', 'chalapathi')])

In [20]:
# new value added to dictionary
dl = {"a1":"gopal","a2":"chalapathi"}
dl["a3"] = "siva"
dl

{'a1': 'gopal', 'a2': 'chalapathi', 'a3': 'siva'}

In [23]:
 # new value update the element in the  dictionary
dl = {"a1":"gopal","a2":"chalapathi"}
dl["a3"] = "mani"
dl

{'a1': 'gopal', 'a2': 'chalapathi', 'a3': 'mani'}

In [28]:
 # remove of an element 
dl = {"a1":"gopal","a2":"chalapathi"}
dl["a3"] = "mani"
dl

{'a1': 'gopal', 'a2': 'chalapathi', 'a3': 'mani'}

In [29]:
dl .pop("a2")

'chalapathi'

In [30]:
dl

{'a1': 'gopal', 'a3': 'mani'}

In [31]:
dl.pop("a1")

'gopal'

In [32]:
dl

{'a3': 'mani'}

In [33]:
dl.pop("a3")

'mani'

In [34]:
dl

{}

# Contacts Application
- Add Contacts
- Serach for Contacts
- Modify the Contacts
- Remove a Contacts
- List all Contacts :


- name1:phone1
- name2:phone2
- import contacts

In [50]:
contacts ={}

def addcontacts(name,phoneno):
    
    # verify th contact doesnot already exists
    
    if name in contacts:
         print("contacts %s already exists"% name)
    else:
        contacts[name] = phoneno
    return
addcontacts("sss","9493872308")

In [43]:
contacts

{'sss': '9493872308'}

In [48]:
# seraching
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exits" % name)
    return
searchcontact("sss")

sss : 9493872308

In [51]:
print("gopal")

gopal

In [55]:
def impor(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added to sucessfully")
    return
newcontacts = {"mani":949595599595,"shiva":9704916692,"lakshi":9493872318}
impor(newcontacts)

3 contacts added to sucessfully

In [56]:
newcontacts

{'mani': 949595599595, 'shiva': 9704916692, 'lakshi': 9493872318}

In [57]:
contacts

{'sss': '9493872308',
 'mani': 949595599595,
 'shiva': 9704916692,
 'lakshi': 9493872318}

In [60]:
def delete(name):
    if name in contacts:
        contacts.pop("shiva")
        print("deleted sucessfully")
    else:
        print("un sucess")
delete("shiva")

deleted sucessfully

In [61]:
contacts

{'sss': '9493872308', 'mani': 949595599595, 'lakshi': 9493872318}

In [62]:
def delete(name):
    if name in contacts:
        contacts.pop("lakshi")
        print("deleted sucessfully")
    else:
        print("un sucess")
delete("lakshi")

deleted sucessfully

In [63]:
def update(name):
    if name in contacts:
        contacts["sss"] = "kumar"
        print("sucessfully updated",contacts[name])
    else:
        print("not update")
update("sss")

sucessfully updated kumar

In [64]:
contacts

{'sss': 'kumar', 'mani': 949595599595}

## Packages

## **Package**-> Collection of Modules(Python file .py). and SubPackage.
 
## **Module**->   Single Python File Containing Functions.

## **Package** -> Sub Package->Modules->Functions

In [71]:
 import math
 
 math.floor(123.456)
 
 math.pi

3.141592653589793

In [73]:
 from math import floor
 
 math.floor(123.456)

123

In [75]:
from math import floor
math.pi

3.141592653589793

In [76]:
from math import floor,pi
pi

3.141592653589793

In [77]:
# rename as a function
from math import floor as fl
fl(123.456)

123

In [82]:
# function to generate n random numbers

import random

# def generaterandom(n):
    
random.randint(0,100)

30

In [87]:
# function to generate n random numbers

import random

def generaterandom(n,lb,ub):
    for i in range(0,n):  
        print(random.randint(lb,ub),end=" ")

generaterandom(100,0,1000)

775 188 774 553 207 724 953 493 351 806 600 522 953 587 161 108 539 611 815 924 983 935 264 701 664 65 313 324 833 596 926 647 164 841 943 219 430 923 579 510 259 692 553 208 677 215 669 501 201 399 73 627 965 335 63 22 920 858 852 71 397 401 181 607 863 715 834 191 505 75 299 242 91 365 889 271 370 233 215 44 163 160 570 294 959 250 484 83 943 604 900 600 151 461 780 896 105 697 802 136

In [5]:
from packages import numerical

numerical.checkPrime(103)

True

In [8]:
from packages.numerical import checkPrime

checkPrime(105)

False