In [9]:
# FUNCTION TO PRINT ALL COMBINATIONS OF PAIRS OF INTEGERS IN A UNIQUE LIST

# [1,2,3] - > (1,2),(1,3),(2,3) -> 3C2 3 VALUES AND 2 COMBINATIONS -> 3!/((3-2)!*2!)

# [1,2,3,4] - >(1,2)(1,3)(1,4)(2,3)(2,4)((3,4))

# combination of two elements in list

def  combinations(li):
    
    for i in range(len(li)-1):
        
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li=[1,2,3,4]

combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [13]:
# combination of three elements in list

def  combithree(li):
    
    for i in range(len(li)-1):
        
        for j in range(i+1,len(li)):
            
            for k in range(j+1,len(li)):
            
               print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]

combithree(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [12]:
# combination of five elements in list

def  combifive(li):
    
    for i in range(len(li)-1):
        
        for j in range(i+1,len(li)):
            
            for k in range(j+1,len(li)):
                
            
               print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]

combifive(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [31]:
def klargest(li):
    cli=li
    newelements=[]
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d=abs(li[i]-li[j])
            if d not in cli:
                newelements.append(d)
    return newelements
li=[1,9,8,7]
klargest(li)

[6, 2]

In [31]:
def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
                
    return li  
def kthLargestofDeiffrencePairs(li,k):
    li2 = differenceOfPairs(li)
    print(li2)
    li2 = sorted(li2,reverse = True)
    highest = li2[k-1]
    print(highest)
kthLargestofDeiffrencePairs([1,9],4)

[1, 9, 8, 7, 6, 5, 4, 3, 2]
6

In [ ]:
[4,8]

[20,40,60]

[4,8,12,16]
[3,6,9,12]
#convert the list into an

#arithmetic progression

[3,8,15]

[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [44]:
def diffpairs(li):
    c = li.copy()
    newelements =[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li

li=[2,3,6,9,12]

diffpairs(li)

[2, 3, 6, 9, 12, 1, 4, 7, 10]

### Set Data Structures In Python

# Represented By ' { } '

# A = { 1,2,3,4,5,6,7,7 }

In [46]:
A={1,2,3,4,5,6,7,7}
A

{1, 2, 3, 4, 5, 6, 7}

In [47]:
A={1,2,3,4,5,6,7,7}
A.add(8)
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
A={1,2,3,4,5,6,7,7}
A.add(8) # Add A single element  to a set
A
for i in A:
    print(i,end="")

12345678

In [54]:
# Add A multiple element  to a set
A={1,2,3,4,5,6,7,7}
B={8,9,3}

A.update(B)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
# Add A multiple element  to a set

A={1,2,3,4,5,6,7,7}

B={8,9,3}

# Add a list

li = [13,14,15,4]

A.update(B,li) # Added to Multitple elements

A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14, 15}

In [56]:
# remove a element 13
A.discard(13)

In [57]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 14, 15}

In [58]:
# remove a element 13
A.discard(6)

In [59]:
A

{1, 2, 3, 4, 5, 7, 8, 9, 14, 15}

In [61]:
A={1,2,3,4,5,6,7,7}
B={8,9,3}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
A={1,2,3,4,5,6,7,7}
B={8,9,3,4}

A.union(B)

# A U B =B U A

A.intersection(B)

{3, 4}

In [65]:
A.isdisjoint(B)

False

In [66]:
A={1,2,3,4,5,6,7,7}
B={8,9,3,4}

C={33,44}

A.union(B)

# A U B =B U A

A.isdisjoint(C)

True

In [67]:
A={1,2,3,4,5,6,7,7}
B={8,9,3,4}

A-B # All Elements of a which are not in b A-B= A INTERSECTION B

{1, 2, 5, 6, 7}

In [71]:
A={1,2,3,4,5,6,7,7}
B={8,9,3,4}

B-A

{8, 9}

In [73]:
A={1,2,9,4,5,6,7,7}

sorted(A)

[1, 2, 4, 5, 6, 7, 9]

In [75]:
A={1,2,3,4,5,6,7,7}
B={8,9,3,4}

A^B # un common elements to be deleted

{1, 2, 5, 6, 7, 8, 9}

In [76]:
d = set()

d

set()

In [78]:
# delete same elements in a set repeatlly 

li = [1,2,3,4,2,1,2,3,4]

u =set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural 
----------------
c
    
Object Oriented 
----------------
Java,Python

Scripting
----------------
PHP 
PYHTON
JAVA SCRIPTING,
SHELL,
PERL

Functional
----------------
Python

Haskell

scala

Logic
----------------
ProLog

Lisp

## List CompreHensions

In [88]:
# N natural Numbers in a list

n=10

li = []

for i in range(1,n+1):
    
    li.append(i)
    
li[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
# Apply List Comprehension to store the cubes on n natural numbers

li = [i*3 for i in range(1,11)]

li

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [93]:
# Function to caluclate the factorial

def factorial(n):
    
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)

# Apply list comprehension to caluclate

# factorial of n natural numbers

n=10

factorialList = [factorial(i) for i in range(1,n+1)]

factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [100]:
# Caluclate or store cumulative sum of numbers in a list

# Example n=3,[1,3,6]

# Example n=5,[1,3,6,10,15]



n=6

csumlist = [sum(range(1,i+1)) for i in range(1,n+1)]

csumlist

[1, 3, 6, 10, 15, 21]

In [110]:
# function to store only leap years in a given time period

startyear = 1947

endyear = 2019

leapyears =  [i for i in range(startyear,endyear+1) if i % 400 == 0 or (i % 100 != 0 and i % 4== 0)]

leapyears

[1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [109]:
li = [1,2,3,2,1,4,4,5,5,5]
li.sort()
u2=[]
unique=[]
[u2.append(i) for i in ]

[3]

# Iterators:

In [ ]:
Iterable -Strings,Lists,Tuples,Sets,Dictionaries

Convert Iterable to iterator -> iter()

For Loop:
    
Iterator:

In [115]:
# simple function

it = iter('Python')

next(it)
next(it)
next(it)
next(it)

'h'

In [124]:
it = iter('Python')

print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))
print('\n')
print('3: ')
print(next(it))
print('\n')
print('4: ')
print(next(it))
print('\n')
print('5: ')
print(next(it))
print('\n')

1:
P


2:
y


3:
t


4:
h


5:
o

# Generators

In [ ]:
Generator is Function

In [135]:
# Example for generator

def generator():
    n = 4
    yield n
    n = n ** 3
    yield n
    n = n ** 3
    yield n

a=generator()

next(a)
next(a)

64

In [137]:
# Example for generator for loop

def generator():
    n = 3
    for i in range(1,5):
        n **= 3
        yield n

a=generator()

next(a)

27

In [150]:
# Example for generator for  while loop

def generator():
    n = 2
    while True:
        n **= 3
        yield n

a=generator()

for i in range(5):
    print(next(a))

next(a)
b = next(a) ** 2
b *= next(a)
b

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208

5794321461488428329382097451678694534570333451736054453196158540076870950131515684346242173464135357300237136401282669927637061071584595466752402044930121997945898858751107676570715702039015848684977380408169763650711711685011955294472161474142477635828138113683972783450195354656132999362501025342715885988288391508369302227152752446685650565882988079973732542160440121826263713021124239474019545886578264601822383238355473111752070843296545518073448458632623913922607804939361739034264296514656247381253227032401175052594901505993940559849849170529380061697213145751520780608322988472889571597530680829114977810404168344984695511613538314599662340388695020124362218029440511448959120264371551145253270362307482602499769970845724051631288766013527909041482755185056522640697176684478362420194954453117881670420785040514494737256598801754979217166845443083756179748085239902979131876240785934525573661073723092469709369527176329436214524718884433166296004714613015186602089296292779105394531440838884067855239113608624072918558048013981476837073029582610834363697817445257251554389660624742698531829683455495246260747936254221431937402199209149888069281792167237838950525359291140380947329328850297470870836593081387251865648750159999822280394109454710595610050208471166283658895143939656987008118522279615288954235409922412478076565987709099102978053334948474030907783850765155812348707651883127172031031617710323856783223161053694130942621803303264717184589880922771714905689579860045133383030372421132919454910871191184501500083054455191254134483616279498597166325212506944243042828644744716268329389977843562203777176595619787143820545323961685514352702779061495653604073892333363241000449465022624105372267578240860166090070735652862274794437966254832358208673493145158174104174937468388863829412295872538341509528228127581308153374783301510080088791081291495613486938196814380622634890478496348164773085136366384272080430799897148439001316690805059729542089483283901957926884877848947131323621665986007974401770590034336342541640895111492394606717330575231361365227634011889574375632880327058727921703995315037007374649551651105309308960434507112141357675914353810612730105035016081461730331595669281504350980255837193417674932661237647280246433947815106736159225509876831473150958455875630185434243928584220738693936941307292926982435737348015276513025223014553934423757591634169218589737030241566125215188645259463958627826444619201971954325284294359890032684730240120162250488935256012334050287618200185003699167695711301326558589312036815007359957668461095760181290766855168185179459821200636204643128859804291314967423727545651845085497686407735763114084410754692436858806246605977042755927593251453161497154173636326422465162531528683484234925858037613734659118068673338201430654568385182819757094530803160792763005026736170476592844911495956349274905519213582198462064862207442607142692959016998438080156475250035733933404918394287553637510171778840585787873326080854279641906879917972465876070252658961952902890570569314803130211713323492842054604455671368826650331544857696549457290932716226402925900715111907354597548245365582545633024651949788478140401464042294077552649039517207248297160989672182878458752945031682735572594027456100073959465704568415014004266467993602490368